 <div class="container">
    <h1>MSI Courses</h1>
</div>
<div class="row">
    
    <div class="card g-col-4 g-col-md-3 g-col-sm-1" *ngFor="let course of courses">
        <img src="{{course.img_url}}" alt="Course Image"> 
        <div class="title">{{course.title}}</div>
        <div class="description">{{course.description}}</div>
        <div class="details">
            <div class="duration">{{course.duration}}</div>
            <div class="fee">{{course.fee}}</div>
            <a class="card__link" routerLink="/course-outline/{{course.id}}">
                <button class="btn btn-primary">Details <i class="emoji-right">👉</i></button>
            </a>
        </div>
    </div> 
</div>