 

<div class="container">
    <h1>MSI Courses</h1>
</div>
<div class="row">
    
    <div class="card g-col-4 g-col-md-3 g-col-sm-1" *ngFor="let course of courses">
        <img src="{{course.img_url}}" alt="Course Image"> 
        <div class="title">{{course.title}}</div>
        <div class="description">{{course.description}}</div>
        <div class="details">
            <div class="duration">{{course.duration}}</div>
            <div class="fee">{{course.fee}}</div>
            <a class="card__link" routerLink="/course-outline/{{course.id}}">
                <button class="btn btn-primary">Details <i class="emoji-right">👉</i></button>
            </a>
        </div>
    </div> 
</div>

This is my writing code

<!-- <div class="px-2 sm:w-1/2 md:w-1/3 md:px-2 lg:my-4 lg:px-3 lg:w-1/4 hover:cursor-pointer">
    <a class="" href="/courses/1"><div class="my-1 lg:-my-1 px-1 w-full drop-shadow-md hover:drop-shadow-xl backdrop-blur-xl bg-gradient-to-r from-[#072158] to-[#24568a] rounded-[20px] border-[0.1px] border-current">
        <article class="p-3 overflow-hidden  ">
            <div class="flex justify-center items-center">
                <img src="/images/2.png" alt="Python" class="block h-auto w-full rounded-t-[20px] rounded-b-[3px] hover:-translate-y-2 transition ease-in-out duration-1000">
            </div><header class="flex-col first-letter: leading md:p-4">
                <div>
                    <h1 class="text-xl">Programming Basic with Python</h1>
                </div>
                <div>
                    <p class="text-[#fdeed4] pt-2">Python is the number one programming language choice formachine learning, data science and artificial intelligence.</p>
                </div>
            </header>
            <footer class="flex items-center justify-between md:block md:justify-center xl:flex xl:justify-between leading-none">
                <div class="flex justify-center items-center py-1">
                    <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                        <path d="M480 128a64 64 0 00-64-64h-16V48.45c0-8.61-6.62-16-15.23-16.43A16 16 0 00368 48v16H144V48.45c0-8.61-6.62-16-15.23-16.43A16 16 0 00112 48v16H96a64 64 0 00-64 64v12a4 4 0 004 4h440a4 4 0 004-4zM32 416a64 64 0 0064 64h320a64 64 0 0064-64V179a3 3 0 00-3-3H35a3 3 0 00-3 3zm344-208a24 24 0 11-24 24 24 24 0 0124-24zm0 80a24 24 0 11-24 24 24 24 0 0124-24zm-80-80a24 24 0 11-24 24 24 24 0 0124-24zm0 80a24 24 0 11-24 24 24 24 0 0124-24zm0 80a24 24 0 11-24 24 24 24 0 0124-24zm-80-80a24 24 0 11-24 24 24 24 0 0124-24zm0 80a24 24 0 11-24 24 24 24 0 0124-24zm-80-80a24 24 0 11-24 24 24 24 0 0124-24zm0 80a24 24 0 11-24 24 24 24 0 0124-24z">

                        </path>
                    </svg>
                    <p class="ml-2 text-sm">1.5 Months</p>
                </div>
                <div class="flex justify-center items-center py-1 ">
                    <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" aria-hidden="true" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 7.5a2.25 2.25 0 100 4.5 2.25 2.25 0 000-4.5z">

                        </path>
                        <path fill-rule="evenodd" d="M1.5 4.875C1.5 3.839 2.34 3 3.375 3h17.25c1.035 0 1.875.84 1.875 1.875v9.75c0 1.036-.84 1.875-1.875 1.875H3.375A1.875 1.875 0 011.5 14.625v-9.75zM8.25 9.75a3.75 3.75 0 117.5 0 3.75 3.75 0 01-7.5 0zM18.75 9a.75.75 0 00-.75.75v.008c0 .414.336.75.75.75h.008a.75.75 0 00.75-.75V9.75a.75.75 0 00-.75-.75h-.008zM4.5 9.75A.75.75 0 015.25 9h.008a.75.75 0 01.75.75v.008a.75.75 0 01-.75.75H5.25a.75.75 0 01-.75-.75V9.75z" clip-rule="evenodd">

                        </path>
                        <path d="M2.25 18a.75.75 0 000 1.5c5.4 0 10.63.722 15.6 2.075 1.19.324 2.4-.558 2.4-1.82V18.75a.75.75 0 00-.75-.75H2.25z">

                        </path>
                    </svg>
                    <p class="ml-2 text-sm">150,000 Ks</p>
                </div>
            </footer>
        </article>
    </div>
</a>
</div> this is from msi page with bs.-->
    
                                    