.container {
    width: 100%;
    height: auto;
    margin: auto;
    padding: auto; 
    background-color: rgb(170, 226, 245);
}

.course-info img {
    width: 400px;
    margin: auto;
    height: auto;
    position: relative;
    display: block;
}

.course-info h1 {
    text-align: center;
    font-size: 40px;
    color: rgb(2, 23, 245);
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 5px;
}

.course-info ul {
    color: blueviolet;
    font-size: 20px;
    list-style-type: none;
    margin-left: 10px;
    padding: 30px;
}

.course-outline h2 {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: rgb(168, 16, 16);
}

.course-outline {
    font-size: 20px;
    display: auto;
    width: 100%;
    height: auto;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
      
}
